 .u-section-1 {
  min-height: 682px;
  background-image: none;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/35e98f8fb8e448241dda4f6d96c96725.jpeg");
  min-height: 682px;
  background-position: 50% 50%;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 682px;
  background-image: none;
}

.u-section-1 .u-group-1 {
  width: 768px;
  min-height: 348px;
  background-image: none;
  margin: -523px calc(((100% - 1140px) / 2)  + 119px) 176px auto;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 8rem;
  margin: -21px -234px 0 18px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 557px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 557px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 557px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 271px;
    margin-top: -414px;
    margin-right: calc(((100% - 940px) / 2) + 75px);
    margin-bottom: 143px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    font-size: 6rem;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 500px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 500px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 500px;
  }

  .u-section-1 .u-group-1 {
    width: 414px;
    min-height: 223px;
    margin-top: -361px;
    margin-right: calc(((100% - 720px) / 2) + 47px);
    margin-bottom: 139px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 710px;
  }

  .u-section-1 .u-image-1 {
    min-height: 417px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 293px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 277px;
    margin-top: -394px;
    margin-right: auto;
    margin-bottom: 118px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 596px;
  }

  .u-section-1 .u-image-1 {
    min-height: 364px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 232px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 179px;
    margin-top: -328px;
    margin-bottom: 149px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -21px;
    margin-bottom: 20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 639px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1070px;
  margin: 38px auto 38px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 635px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-2 .u-line-1 {
  width: 130px;
  transform-origin: left center 0;
  margin: 50px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  margin: 44px 20px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 20px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 20px 50px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 635px;
}

.u-section-2 .u-text-4 {
  margin: 20px 20px 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 13px 20px 0;
}

.u-section-2 .u-text-6 {
  margin: 37px 20px 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 13px 20px 0;
}

.u-section-2 .u-text-8 {
  margin: 37px 20px 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 13px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 882px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 624px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-2 .u-line-1 {
    width: 107px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 624px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-7 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-8 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-9 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 677px;
  }

  .u-section-2 .u-line-1 {
    width: 82px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 13px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 677px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1162px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 611px;
  }

  .u-section-2 .u-line-1 {
    width: 77px;
  }

  .u-section-2 .u-text-1 {
    font-size: 6rem;
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 9px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 574px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1249px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 687px;
  }

  .u-section-2 .u-line-1 {
    width: 65px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 6px;
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 6px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 585px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-3 {
  min-height: 0;
}

.u-section-3 .u-sheet-1 {
  min-height: 236px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto -170px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 266px;
}

.u-section-3 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 2.25rem;
  line-height: 43.2px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/1065.png");
  min-height: 266px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-2 {
  background-image: url("images/metaisland1.jpg");
  min-height: 266px;
  background-position: 50% 0%;
}

.u-section-3 .u-image-3 {
  background-image: url("images/1269.png");
  min-height: 266px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 226px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 256px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    font-size: 1.5rem;
    line-height: 1.7;
  }

  .u-section-3 .u-image-1 {
    min-height: 256px;
  }

  .u-section-3 .u-image-2 {
    min-height: 256px;
  }

  .u-section-3 .u-image-3 {
    min-height: 256px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 341px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-image-1 {
    min-height: 341px;
  }

  .u-section-3 .u-image-2 {
    min-height: 341px;
  }

  .u-section-3 .u-image-3 {
    min-height: 341px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1870px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -706px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 475px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
    font-size: 3rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 475px;
  }

  .u-section-3 .u-image-2 {
    min-height: 475px;
  }

  .u-section-3 .u-image-3 {
    min-height: 475px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1596px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 407px;
  }

  .u-section-3 .u-image-2 {
    min-height: 407px;
  }

  .u-section-3 .u-image-3 {
    min-height: 407px;
  }
} .u-section-4 {
  min-height: 970px;
}

.u-section-4 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 855px);
  height: 665px;
  background-image: none;
  margin: 166px 0 0 auto;
}

.u-section-4 .u-image-1 {
  width: 630px;
  height: 646px;
  margin: -577px auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 570px;
  min-height: 508px;
  margin: -646px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  margin: 75px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 705px);
  }

  .u-section-4 .u-image-1 {
    width: calc(((100% - 940px) / 2) + 454px);
  }

  .u-section-4 .u-group-1 {
    width: 470px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-top: 62px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
  }

  .u-section-4 .u-text-3 {
    position: relative;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 928px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 540px);
    margin-top: 68px;
  }

  .u-section-4 .u-image-1 {
    width: calc(((100% - 720px) / 2) + 310px);
    height: 425px;
    margin-top: -258px;
  }

  .u-section-4 .u-group-1 {
    width: 395px;
    min-height: 585px;
    margin-top: -803px;
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: 95px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1113px;
  }

  .u-section-4 .u-shape-1 {
    width: 556px;
    height: 847px;
    margin-top: 71px;
  }

  .u-section-4 .u-image-1 {
    width: calc(((100% - 540px) / 2) + 326px);
    margin-top: -301px;
  }

  .u-section-4 .u-group-1 {
    width: 483px;
    min-height: 463px;
    margin-top: -904px;
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: 110px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1291px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: calc(((100% - 340px) / 2) + 273px);
    margin-top: -136px;
  }

  .u-section-4 .u-group-1 {
    width: 317px;
    min-height: 627px;
    margin: -1099px auto 130px calc(((100% - 340px) / 2));
  }
}